amqp
asgiref
attrs
backports.zoneinfo
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
Django
django-filter
django-redis
djangorestframework
djangorestframework-simplejwt
drf-yasg
exceptiongroup
Faker
gunicorn
idna
importlib-metadata
importlib-resources
inflection
iniconfig
jsonschema
jsonschema-specifications
kombu
Markdown
packaging
Pillow
pkgutil_resolve_name
pluggy
prompt-toolkit
PyJWT
pytest
pytest-django
python-dateutil
python-decouple
pytz
PyYAML
redis
referencing
requests
rpds-py
six
sqlparse
swagger-spec-validator
tomli
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
zipp
